<div class="ly-device ly-device-{{device.id}} ly-type-{{type.id}} ">


  <!-- ----------------- -->
  <!--  Deleted message  -->
  <!-- ----------------- -->

  <div class="ly-message ly-generic-message ly-animation-fast" ng-if="view.path=='/message-deleted'">
    <p class="ly-description">Device deleted</p>
    <p class="ly-description-sub">Reload the page to update the view</p>
  </div>


  <!-- ----------------- -->
  <!--  Loading message  -->
  <!-- ----------------- -->

  <div class="ly-message ly-loading" ng-if="view.path=='/loading'">
    <p class="ly-description">Loading Device</p>
    <div class="ly-spinner">
      <div class="ly-bounce-1"></div>
      <div class="ly-bounce-2"></div>
      <div class="ly-bounce-3"></div>
    </div>
  </div>


  <!-- ---------------- -->
  <!--  Device Content  -->
  <!-- ---------------- -->

  <div class="ly-content" ng-class="{'ly-animation': view.path=='/default'}" ng-if="view.path!='/loading' && view.path!='/message-deleted'">


    <!-- ------------- -->
    <!-- Device header -->
    <!-- ------------- -->

    <div class="ly-header">

      <!-- Name -->

      <p class="ly-name">{{device.name}}</p>

      <!-- Top menu -->

      <ul class="ly-menu">
        <li><a class="ly-menu-settings" href="#" ng-click="view.path='/settings'">Settings</a></li>
      </ul>

    </div>

    <!-- Device status -->

    <div class="ly-status" ng-if="hasStatus" ng-click="execute(status.function)">

      <!-- Default function button -->

      <div class="ly-execute">
        <button class="ly-button" ng-class="{ 'ly-pulse': device.pending }"></button>
      </div>

      <!-- Description -->

      <div class="ly-description">
        <p class="ly-name">{{status.name || '-'}}</p>
        <p class="ly-extras"><span am-time-ago="device.updated_at"></span> from {{device.updated_from}}</p>
      </div>
    </div>


    <!-- ---------------- -->
    <!-- Device functions -->
    <!-- ---------------- -->

    <div class="ly-functions" ng-if="hasFunctions">
      <div ng-repeat="function in functions">
        <div class="ly-function ly-function-{{function.id}}" ng-click="execute(function)">

          <!-- Function button -->

          <div class="ly-execute">
            <button class="ly-button"></button>
            <p class="ly-name">{{function.name}}</p>
          </div>
        </div>

        <!-- Function form -->

        <div class="ly-function-form ly-modal ly-animation-fast" ng-if="function.visibleForm">
          <div class="ly-modal-backdrop" ng-click="function.visibleForm=false"></div>
          <div class="ly-modal-window">
            <a class="ly-close" href="" ng-click="function.visibleForm=false">×</a>
            <div class="ly-header">
              <p class="ly-name">{{function.name}}</p>
            </div>
            <form class="ly-form" ng-submit="execute(function)">
              <div class="ly-fields">
                <div class="ly-field ly-editable"
                  ng-repeat="property in function.properties"
                  ng-class="{'ly-no-underline': (property.type=='range' || property.type=='color') }"
                  ng-if="property.toFill">

                  <p class="ly-description">
                    <span>Set {{property.name | lowercase}}</span>
                    <span ng-if="property.type=='range'">to {{property.expected}}</span>
                  </p>
                  <input class="ly-value ly-{{property.type}}"
                    type="{{property.type}}"
                    min="{{property.range.min}}"
                    max="{{property.range.max}}"
                    step="{{property.range.step}}"
                    ng-if="property.accepted==null"
                    ng-model="property.expected">
                  </input>

                  <select class="ly-value"
                    ng-model="property.expected"
                    ng-options="key as value for (key , value) in property.accepted"
                    ng-if="property.accepted && property.type=='text'">
                  </select>

                </div>
              </div>
              <div class="ly-actions">
                <a class="ly-button ly-update" ng-click="execute(function)">Execute</a>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>


    <!-- ----------------- -->
    <!-- Device properties -->
    <!-- ----------------- -->

    <div class="ly-properties">
      <div class="ly-property ly-property-{{property.id}}" ng-repeat="property in device.properties">
        <a class="ly-button" ng-class="{ 'ly-pulse': property.pending }"></a>
        <p class="ly-description">
          <span class="ly-name">{{property.name}}</span>
          <span class="ly-expected">{{property.expected}}</span>
        </p>
      </div>
    </div>


    <!-- ----------------- -->
    <!--  Device Settings  -->
    <!-- ----------------- -->

    <div class="ly-settings ly-modal ly-animation-fast" ng-if="view.path=='/settings'">
      <div class="ly-modal-backdrop" ng-click="view.path='/default'"></div>
      <div class="ly-modal-window">
        <a class="ly-close" href="" ng-click="view.path='/default'">×</a>

        <div class="ly-settings-device">
          <div class="ly-header">
            <p class="ly-name">Settings</p>
          </div>
          <form class="ly-form" ng-submit="update()">
            <div class="ly-fields">
              <div class="ly-field">
                <p class="ly-description">ID</p>
                <input class="ly-value ly-id" type="text" disabled ng-model="device.id"></input>
              </div>
              <div class="ly-field">
                <p class="ly-description">Secret</p>
                <input class="ly-value ly-secret" type="text" disabled ng-model="privates.secret"></input>
              </div>
              <div class="ly-field">
                <p class="ly-description">Type</p>
                <p class="ly-value">
                <a class="ly-type" href="http://types.lelylan.com/types/{{type.id}}" target="blank">{{type.name}}</a>
                </p>
              </div>
              <div class="ly-field ly-editable">
                <p class="ly-description">Name</p>
                <input class="ly-value ly-name" type="text" placeholder="Device name" ng-model="device.name"></input>
              </div>
              <div class="ly-field ly-editable">
                <p class="ly-description">Physical URI <a href="http://dev.lelylan.com/makers#mqtt-set-the-physical-uri" target="blank">(what is this?)</a></p>
                <input class="ly-value ly-physical" type="text" placeholder="http://nodes.lelylan.com/mqtt/devices/1" ng-model="device.physical.uri"></input>
              </div>
            </div>
            <div class="ly-actions">
              <button class="ly-button ly-update-button">save</button>
              <a class="ly-button ly-delete-button" ng-click="view.path='/delete'">delete</a>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- ------------- -->
    <!-- Device Delete -->
    <!-- ------------- -->

    <div class="ly-settings ly-delete ly-modal ly-animation-fast" ng-if="view.path=='/delete'">
      <div class="ly-modal-backdrop" ng-click="view.path='/default'"></div>
      <div class="ly-modal-window">
        <a class="ly-close" href="" ng-click="view.path='/default'">×</a>
        <div class="ly-settings-delete">
          <div class="ly-header">
            <p class="ly-name">Delete</p>
          </div>
          <form class="ly-form">
            <div>
              <p class="ly-info">
              Deleting your device is irreversible.
              Enter the device name to confirm you want to permanently delete it.
              </p>
            </div>

            <div class="ly-field ly-editable">
              <input class="ly-value ly-name" type="text" placeholder="Device name" ng-model="confirm"></input>
            </div>
            <div class="ly-actions">
              <a class="ly-button ly-cancel-button" ng-click="view.path='/default'">cancel</a>
              <a class="ly-button ly-delete-button ly-disabled" ng-if="confirm!=device.name">delete</a>
              <a class="ly-button ly-delete-button" ng-click="destroy()" ng-if="confirm==device.name">delete</a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
