<div class="ly-device ly-device-{{device.id}} ly-type-{{type.id}} ">

  <!-- ----------------- -->
  <!--  Loading message  -->
  <!-- ----------------- -->

  <div class="ly-loading" ng-if="loading">
    <p class="ly-description">Loading Device</p>
    <div class="ly-spinner">
      <div class="ly-bounce-1"></div>
      <div class="ly-bounce-2"></div>
      <div class="ly-bounce-3"></div>
    </div>
  </div>


  <!-- ---------------- -->
  <!--  Device Content  -->
  <!-- ---------------- -->

  <div class="ly-content ly-animation" ng-if="!loading">


    <!-- ------------- -->
    <!-- Device header -->
    <!-- ------------- -->

    <div class="ly-header">

      <!-- Name -->

      <p class="ly-name">{{device.name}}</p>

      <!-- Top menu -->

      <ul class="ly-menu">
        <li><a href="#">History</a></li>
        <li><a href="#">Settings</a></li>
      </ul>

    </div>

    <!-- Device status -->

    <div class="ly-status" ng-click="execute(status.function)">

      <!-- Default function button -->

      <div class="ly-execute">
        <a class="ly-button" ng-class="{ 'ly-pulse': device.pending }"></a>
      </div>

      <!-- Description -->

      <div class="ly-description">
        <p class="ly-name">{{status.name}}</p>
        <p class="ly-extras"><span am-time-ago="device.updated_at"></span> from {{device.updated_from}}</p>
      </div>
    </div>


    <!-- ---------------- -->
    <!-- Device functions -->
    <!-- ---------------- -->

    <div class="ly-functions">
      <div class="ly-function ly-function-{{function.id}}" ng-click="execute(function)" ng-repeat="function in functions">

        <!-- Function button -->

        <div class="ly-execute">
          <a class="ly-button"></a>
          <p class="ly-name">{{function.name}}</p>
        </div>

        <!-- Function form -->

        <div class="ly-modal" ng-show="function.visibleForm">
          <div class="ly-modal-backdrop" ng-click="function.visibleForm=false"></div>
          <div class="ly-modal-window">
            <a class="ly-close" href="" ng-click="function.visibleForm=false">×</a>
            <div class="ly-form">
              <div class="ly-header">
                <p class="ly-name">{{function.name}}</p>
              </div>
              <div class="ly-fields">
                <div class="ly-field" ng-repeat="property in function.properties" ng-show="property.toFill">
                  <p class="ly-description">
                  <span class="ly-name">Set {{property.name | lowercase}} to</span>
                  <span class="ly-expected">{{property.expected}}</span>
                  </p>
                  <div class="ly-input">
                    <input
                    type="{{property.type}}"
                    min="{{property.range.min}}"
                    max="{{property.range.max}}"
                    step="{{property.range.step}}"
                    ng-model="property.expected">
                    </input>
                  </div>
                </div>
              </div>
              <div class="ly-actions">
                <a class="ly-button ly-update" ng-click="execute(function)">Execute</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- ----------------- -->
    <!-- Device properties -->
    <!-- ----------------- -->

    <div class="ly-properties">
      <div class="ly-property ly-property-{{property.id}}" ng-repeat="property in device.properties">
        <a class="ly-button"></a>
        <p class="ly-description">
          <span class="ly-name">{{property.name}}</span>
          <span class="ly-expected">{{property.expected}}</span>
        </p>
      </div>
    </div>

  </div>

  <!-- Device error messages -->

  <div class="ly-messages">
  </div>
</div>
